
.imageResize{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.title{
	text-align: center;
	padding-top: 1em;
	font-family: 'Teko', sans-serif;
	font-size: 55px;
	color: white;
}
body{
	background-image: url(../images/post1_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.container{
	width: 90%;
	margin: auto;
}

.imagesPad{
	padding: 10px;
}
.font{
	font-family: 'Teko', sans-serif;
	font-size: 24px;
}
.headerFont{
	font-size: 45px;
}
div{
	padding: 5px;
}